[project]
	description = library for financial computations
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sebastian Hoß (sebhoss)
[access "refs/for/refs/*"]
	read = group user/Sebastian Hoß (sebhoss)
	push = group user/Sebastian Hoß (sebhoss)
	label-Code-Review = -2..+2 group user/Sebastian Hoß (sebhoss)
	label-Verified = -1..+1 group user/Sebastian Hoß (sebhoss)
	rebase = group user/Sebastian Hoß (sebhoss)
	removeReviewer = group user/Sebastian Hoß (sebhoss)
	submit = group user/Sebastian Hoß (sebhoss)
[access "refs/heads/*"]
	read = group user/Sebastian Hoß (sebhoss)
	create = group user/Sebastian Hoß (sebhoss)
	push = +force group user/Sebastian Hoß (sebhoss)
	pushMerge = group user/Sebastian Hoß (sebhoss)
[access "refs/tags/*"]
	push = +force group user/Sebastian Hoß (sebhoss)
	pushTag = group user/Sebastian Hoß (sebhoss)
	pushSignedTag = group user/Sebastian Hoß (sebhoss)
