<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ccw.launching.clojure">
<stringAttribute key="CCW_ATTR_FILES_LAUNCHED_AT_STARTUP" value="/finj/src/bootstrap/clojure/com/github/sebhoss/finj/bootstrap.clj"/>
<booleanAttribute key="ccw.repl.startOnLaunch" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/finj"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="clojure.main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="finj"/>
</launchConfiguration>
